/* Global */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.icon {
    width: 10px;
    color: inherit !important;
    margin-right: 15px;

}

/* End Global  */


/* --------Sidenav-------- */
#sidenav {
    min-height: 100vh;
    padding: 0;

}

#sidenav .dropdown .adminAvatar{
   
    margin: auto;
}

#sidenav a,
#sidenav .icon {
    color: black;

}

#sidenav .sidenav-logo {
    padding: 20px 20px;
    display: block;
    font-weight: 500;
    font-size: 1.3rem;


}

#sidenav ul {
    padding-left: 0;
}


#sidenav ul li a {
    padding: 10px 20px;
    display: block;

}

.ul-child {
    padding-left: 30px !important;
}

#sidenav .nav-a:hover  {
    background-color: #626262;
    color: white !important;
}







/* -------- End Sidenav-------- */

/* -------Top Nav ------ */

.top-col {
    background-color: #1D89E4 !important;
}

.top-nav {
    background-color: inherit !important;
}


/* ------Main Content------ */
#main-content {
    background-color: #EFF4F8 !important;
}


/* ------End Main Content------ */


/* ------Footer------ */
#footer {
    background-color: #1D89E4 !important;
}

#footer p {
    color: white;
}

/* -------Tester------- */






/* ------Responsive Controls------ */
